<div class="container">
    <h2>Lista de Personajes</h2>
    <div class="row">
        <div class="col-md-4" *ngFor="let personaje of personajes">
            <div class="card mb-4">
                <img [src]="personaje.imageUrl" class="card-img-top" alt="{{ personaje.name }}">
                <div class="card-body">
                    <h5 class="card-title">{{ personaje.name }}</h5>
                    <p class="card-text">{{ personaje.description }}</p>
                </div>
            </div>
        </div>
    </div>
</div>