<h1 class="text-center mb-5">Busca tus juegos favoritos</h1>

<!-- CARRUSEL -->
<div class="carousel slide" id="carouselExampleAutoplaying" data-bs-ride="carousel">
    <div class="carousel-inner">
      <!-- Indicadores -->
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide-to="0" class="active"
          aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide-to="1"
          aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide-to="2"
          aria-label="Slide 3"></button>
        <button type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide-to="3"
          aria-label="Slide 3"></button>
      </div>

      <!-- Imagenes -->
      <div class="carousel-item active ratio ratio-21x9">
        <img src="img/steam.png" class="object-fit-cover d-block w-100" alt="carousel1">
      </div>
      <div class="carousel-item ratio ratio-21x9">
        <img src="img/switch.png" class="object-fit-cover d-block w-100" alt="carousel2">
      </div>
      <div class="carousel-item ratio ratio-21x9">
        <img src="img/n64.png" class="object-fit-cover d-block w-100" alt="carousel3">
      </div>
      <div class="carousel-item ratio ratio-21x9">
        <img src="img/gb.png" class="object-fit-cover d-block w-100" alt="carousel2">
      </div>
    </div>

    <!-- Botones -->
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying"
      data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying"
      data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>