<div class="container mt-5">
    <h1>Acerca de RAWG-API</h1>
    <p>RAWG-API es un proyecto que permite a los usuarios buscar y explorar información sobre videojuegos utilizando la
        API de RAWG. Este proyecto está desarrollado con Angular y proporciona una interfaz de usuario intuitiva para
        acceder a una amplia base de datos de juegos.</p>
    <h2>Características</h2>
    <ul>
        <li>Búsqueda de juegos por nombre</li>
        <li>Filtrado de juegos por plataforma</li>
        <li>Visualización de detalles de los juegos</li>
    </ul>
    <h2>Tecnologías Utilizadas</h2>
    <ul>
        <li>Angular</li>
        <li>Bootstrap</li>
        <li>API de RAWG</li>
    </ul>
    <h2>Contacto</h2>
    <p>Para más información, puedes contactarnos a través de nuestras redes sociales.</p>
</div>