<div>
    <input type="text" [(ngModel)]="query" placeholder="Término de búsqueda">
    <select [(ngModel)]="mediaType">
        <option value="image">Imagen</option>
        <option value="video">Video</option>
        <option value="audio">Audio</option>
    </select>
    <button (click)="search()">Buscar</button>
</div>

<div *ngIf="results.length > 0">
    <div *ngFor="let result of results">
        <div *ngIf="result.links">
            <img *ngIf="mediaType === 'image'" [src]="result.links[0].href" alt="Imagen">
            <video *ngIf="mediaType === 'video'" controls>
                <source [src]="result.links[0].href">
                Tu navegador no soporta el tag de video.
            </video>
        </div>
        <p>{{ result.data[0].description }}</p>
    </div>
</div>