<!-- filepath: /home/git/DWEC-proyecto_final/rawg-api/src/app/busqueda-plataforma/busqueda-plataforma.component.html -->
<div class="container-md">
    <h1>{{title}}</h1>
    <form (submit)="busquedaPlataforma()">
        <div class="row">
            <div class="form-group col">
                <select class="form-select" [(ngModel)]="buscador" name="searchQuery">
                    <option value="4">PC</option>
                    <option value="187">PlayStation 5</option>
                    <option value="18">PlayStation 4</option>
                    <option value="1">Xbox One</option>
                    <option value="7">Nintendo Switch</option>
                    <option value="3">iOS</option>
                    <option value="21">Android</option>
                    <option value="5">macOS</option>
                    <option value="6">Linux</option>
                </select>
            </div>
            <button type="submit" class="btn btn-primary col-1">Buscar</button>
        </div>
    </form>
    <div *ngIf="juegos.juegos.length > 0" class="mt-4">
        <div class="row">
            <h2 class="col-md-8">Resultados:</h2>
            <div class="form-group col-md-4">
                <select class="form-select" [(ngModel)]="orden" (change)="ordenarJuegos()">
                    <option selected value="-rating">Valoración (Descendente)</option>
                    <option value="rating">Valoración (Ascendente)</option>
                    <option value="name">Nombre (A-Z)</option>
                    <option value="-name">Nombre (Z-A)</option>
                    <option value="released">Fecha de lanzamiento (Ascendente)</option>
                    <option value="-released">Fecha de lanzamiento (Descendente)</option>
                </select>
            </div>
        </div>
        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
            <div class="col" *ngFor="let juego of juegos.juegos">
                <div *ngIf="juego.imagen != null && juego.imagen != ''" class="mt-4">
                    <div class="card h-100">
                        <img [src]="juego.imagen" class="card-img-top" alt="{{ juego.nombre }}">
                        <div class="card-body">
                            <h5 class="card-title">{{ juego.nombre }}</h5>
                            <p class="card-text">
                                Rating:
                                ({{ juego.valoracion }})
                            </p>
                            <p class="card-text">Released: {{ juego.fechaLanzamiento }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="d-flex justify-content-around mt-4 w-25 mx-auto">
            <button class="btn btn-primary" (click)="getPrevPage()" [disabled]="!juegos.anterior">Anterior</button>
            <button class="btn btn-primary" (click)="getNextPage()" [disabled]="!juegos.posterior">Siguiente</button>
        </div>
    </div>
    <div *ngIf="juegos.juegos.length > 0" class="mt-4">
        <h1 class="text-center">Juego no encontrado</h1>
    </div>
</div>